img {
  height: auto;
  width: 100%;
  object-fit: cover;
  align-self: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ebecd7;
}

.logo {
  max-width: 30%;
}

main {
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;
  margin-bottom: 20px;
  height: auto;
  min-height: 600px;
}

h1 {
  color: #7d8f54;
  font-family: "Exo", sans-serif;
  font-size: 120px;
  margin-bottom: 20px;
}

h2 {
  color: #929f6d;
  font-family: "Neuton", serif;
  font-size: 30px;
  margin-bottom: 10px;
}

h5 {
  color: #f0e68f;
  font-family: "Exo", sans-serif;
  font-size: 13px;
  padding-left: 10px;
}
p {
  font-family: "PT Sans Caption", sans-serif;
  font-size: 17px;
  color: #7d8f54;
  margin-bottom: 10px;
}

footer {
  font-family: "Exo", sans-serif;
  text-align: end;
  height: 300px;
  background-color: #929f6d;
  padding: 80px 50px 0 0;
}
/* === MENUSTYLING === */
header {
  background-color: #a7af86;
  padding: 30px 20px;
  margin-bottom: 20px;
  width: 100%;
  min-height: 150px;
}

.menu_style {
  display: flex;
  justify-content: flex-end;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

header .nav-links li a {
  padding: 20px 40px 20px 40px;
  text-decoration: none;
  font-family: "Exo", sans-serif;
  font-size: 20px;
  border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border: 2px solid #a7af86;
  color: black;

  transition-duration: 0.1s;
  transition-timing-function: linear;
}
header .nav-links li a:hover {
  border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border: 2px solid #f0e68f;
  color: #f0e68f;

  transition-duration: 0.1s;
  transition-timing-function: linear;

  box-shadow: -9px -8px 8px 0px rgba(0, 0, 0, 0.13) inset;
  -webkit-box-shadow: -9px -8px 8px 0px rgba(0, 0, 0, 0.13) inset;
  -moz-box-shadow: -9px -8px 8px 0px rgba(0, 0, 0, 0.13) inset;
}

header .nav-links li a:active {
  border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border: 4px solid red;
  color: red;

  transition-duration: 0.1s;
  transition-timing-function: linear;
  box-shadow: -9px -8px 38px 11px rgba(0, 0, 0, 0.15) inset;
  -webkit-box-shadow: -9px -8px 38px 11px rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: -9px -8px 38px 11px rgba(0, 0, 0, 0.15) inset;
}

header #selected {
  border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border: 2px solid #f0e68f;
  color: #f0e68f;

  box-shadow: -9px -8px 8px 0px rgba(0, 0, 0, 0.13) inset;
  -webkit-box-shadow: -9px -8px 8px 0px rgba(0, 0, 0, 0.13) inset;
  -moz-box-shadow: -9px -8px 8px 0px rgba(0, 0, 0, 0.13) inset;
}

footer a {
  padding: 20px 40px 20px 40px;
  text-decoration: none;
  font-family: "Exo", sans-serif;
  font-size: 17px;
  color: black;

  transition-duration: 0.1s;
  transition-timing-function: linear;
}

footer a:hover {
  color: #f0e68f;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}
footer a:active {
  color: red;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}

a {
  text-decoration: none;
  font-family: "Exo", sans-serif;

  color: green;

  transition-duration: 0.1s;
  transition-timing-function: linear;
}

a:hover {
  color: black;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}
a:active {
  color: red;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}

/* === VIDEOINDSTILLINGER === */
.iframe-wrapper {
  position: relative;
  width: 100%;
  height: 0;

  padding-top: 56.25%;
}
iframe {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
}

.baggrundsbillede h1 {
  color: #f0e68f;
  -webkit-text-stroke: black 2px;
}
