/* Style for the burger menu */
.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
}

/* Style for the navigation links */
.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
}

/* Style for the burger menu */
.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  background-color: #b0bfd7;
  max-height: 55px;
  max-width: 55px;
  padding: 10px;
  border-radius: 5px;
  border: #8a96a9 2px solid;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
}

/* Style for the navigation links */
.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
}

/* Media query for responsive design */
@media (max-width: 990px) {
  .burger-menu {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #6280af;
    left: 0;
    width: auto;
    border: 2px #4c648a solid;
    box-shadow: -1px 0px 17px 5px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: -1px 0px 17px 5px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: -1px 0px 17px 5px rgba(0, 0, 0, 0.41);
    align-items: center;
    border-radius: 5px;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin-right: 0;
    text-align: left;
    padding: 30px;
  }
  .nav-links {
    margin-top: 10px;
  }
}

@media (min-width: 990px) {
  .grid1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .col1 {
    order: -1;
  }

  .grid2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
  }
}

.baggrundsbillede {
  display: grid;
  place-items: center;
}

.baggrundsbillede img {
  max-width: 1200px;
  height: 200px;
  object-fit: cover;
}

img,
h1 {
  grid-area: 1/1;
  text-align: center;
}

.beskrivelse {
  display: grid;
  place-items: center;
  place-items: baseline;
}

img,
h5 {
  grid-area: 1/1;
  text-align: center;
}

.galleri {
  height: auto;
  max-width: auto;
}

.galleri img {
  margin-top: 10px;
  margin-bottom: 10px;
}
.portrait {
  display: grid;
  object-fit: cover;
  width: 493px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
